body,
html {
  min-width: 1120px;
  height: 100%;
}
#wrap {
  height: 100%;
  width: 100%;
  background: #fff;
}
#wrap #head {
  width: 100%;
  height: 72px;
  background: #fff;
  position: relative;
  border-bottom: 2px solid #e5e5e5;
}
#wrap #head.slodDown {
  top: 0;
  transform: translateY(0);
  animation: animt 1s;
}
@-moz-keyframes animt {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes animt {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes animt {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animt {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
#wrap #head .headContainer {
  height: 100%;
  width: 85%;
  padding: 0 15px;
  margin: 0 74.5px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap #head .headContainer .navbar-right {
  height: 100%;
  width: 70%;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap #head .headContainer .navbar-right a {
  color: #000;
  font-weight: bold;
}
#wrap #head .headContainer .navbar-right .navbar-right-left {
  margin-left: 50px;
}
#wrap #head .headContainer .navbar-right .navbar-right-left .qh:hover {
  color: #ea4942;
}
#wrap #head .headContainer .navbar-right .navbar-right-left .on {
  color: #ea4942;
}
#wrap #head .headContainer .navbar-right .navbar-right-left .on:hover {
  color: #ea4942;
}
#wrap #head .headContainer .navbar-right .navbar-right-left i {
  color: #ea4942;
}
#wrap #head .headContainer .navbar-right .navbar-right-right {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap #head .headContainer .navbar-right .navbar-right-right .on {
  color: #e94840;
}
#wrap #head .headContainer .navbar-right .navbar-right-right a:hover {
  color: #e94840;
}
#wrap #head .headContainer .navbar-right .navbar-right-right .dl {
  background: #e94840;
  border-radius: 10%;
  color: #fbffff;
  padding: 5px;
}
#wrap #head .headContainer .navbar-right .navbar-right-right .dl:hover {
  color: #fbffff;
}
#wrap .article {
  width: 100%;
}
#wrap .article .artTitle {
  height: 85px;
  width: 100%;
}
#wrap .article .artTitle .artTContain {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  line-height: 85px;
  font-size: 18px;
}
#wrap .article .artTitle .artTContain span {
  font-weight: 600;
}
#wrap .article .artTitle .artTContain .artsp3 {
  color: #fb4e55;
}
#wrap .article .articleLayOut {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
}
#wrap .article .articleLayOut .articleLeft {
  width: 80%;
  height: 100%;
}
#wrap .article .articleLayOut .articleLeft .artLTop {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #e5e5e5;
}
#wrap .article .articleLayOut .articleLeft .artLTop a {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
}
#wrap .article .articleLayOut .articleLeft .artLTop a img {
  width: 150px;
  height: 150px;
  margin: 30px;
  border: 1px solid #e5e5e5;
  display: block;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm {
  width: 90%;
  height: 100%;
  display: flex;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner {
  flex: 2;
  height: 150px;
  margin: 25px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm1 {
  font-size: 18px;
  color: #1d1515;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm2 {
  width: 50%;
  height: 35%;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm2 b {
  color: #fc545e;
  margin-left: 10px;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm3 {
  font-size: 14px;
  color: #333;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm3 .spmSpan1 {
  color: #333;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm3 span {
  color: #898989;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm3 i {
  color: #fc545e;
  font-style: normal;
  margin-right: 20px;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm3 i b {
  font-size: 20px;
  font-weight: bold;
  color: #fc545e;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmInner .spm3 .innerb {
  text-decoration: line-through;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmSpan2 {
  flex: 1;
  height: 200px;
  text-align: center;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmSpan2 .spmSpan2In {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmSpan2 .spmSpan2In .span2 {
  color: #fb474f;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 600;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmSpan2 .spmSpan2In .span1 {
  color: #333;
  font-weight: 600;
  margin-top: 3px;
}
#wrap .article .articleLayOut .articleLeft .artLTop a .spm .spmSpan2 .spmSpan2In >img {
  width: 115px;
  height: 115px;
  padding: 0px;
  margin: 0px;
}
#wrap .article .articleLayOut .articleLeft .bottomContain >h2 {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#wrap .article .articleLayOut .articleLeft .bottomContain >h2 a {
  width: 30px;
  color: #111;
  padding-bottom: 7px;
  border-bottom: 4px solid #fb474f;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .profile {
  line-height: 28px;
  margin: 10px 25px 25px;
  font-size: 16px;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .profile >pre {
  line-height: 24px;
  margin: 15px 0 5px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 0;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  padding: 9.5px;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .chengshi {
  margin: 20px 0 10px;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .chengshi .shijian {
  margin-right: 10px;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .chengshi .shijian b {
  color: #fb474f;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .profile1,
#wrap .article .articleLayOut .articleLeft .bottomContain .profile2 {
  margin: 0px;
  line-height: 28px;
}
#wrap .article .articleLayOut .articleLeft .bottomContain .profile1 >pre,
#wrap .article .articleLayOut .articleLeft .bottomContain .profile2 >pre {
  line-height: 24px;
  margin: 15px 0 0px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}
#wrap .article .articleLayOut .articleRight {
  width: 20%;
  height: 100%;
}
#wrap .article .articleLayOut .articleRight >a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 {
  width: 100%;
  height: 290px;
  text-align: center;
  padding-bottom: 60px;
  border: 1px solid #e5e5e5;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 h2 {
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  border: 1px solid #e5e5e5;
  text-align: left;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 img {
  text-align: center;
  margin: 40px 50px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 36px;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 .artHeadRight {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 .artHeadRight >div {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 .artHeadRight >div span {
  flex: 1;
  text-align: left;
  margin: 0px 10px;
}
#wrap .article .articleLayOut .articleRight >a .saoma1 .artHeadRight >div .num {
  text-align: right;
  color: #fb474f;
}
#wrap .article .articleLayOut .articleRight .saoma2 {
  width: 100%;
  height: 290px;
  background: url("../imgs/fuwushang2_10.jpg") no-repeat center;
  margin-top: 10px;
}
#wrap .article .articleLayOut .articleRight .saoma2 img {
  margin: 55px 0 0 55px;
  width: 130px;
  vertical-align: middle;
}
#wrap #foot {
  width: 100%;
  background: #fff;
  padding-top: 60px;
}
#wrap #foot .footContainer {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
#wrap #foot .footContainer h2 {
  margin: 20px auto 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "微软雅黑";
  text-align: center;
}
#wrap #foot .footContainer h2 span {
  font-size: 30px;
  color: #fb474f;
  font-family: "微软雅黑";
  font-weight: bold;
}
#wrap #foot .footContainer p {
  font-size: 22px;
  color: #3d3838;
  text-align: center;
}
#wrap #foot .footContainer .footDiv1 {
  text-align: center;
  padding-top: 20px;
  height: 66px;
  font-size: 18px;
}
#wrap #foot .footContainer .footDiv1 span {
  color: #1d1515;
  vertical-align: top;
  margin-right: 10px;
}
#wrap #foot .footContainer .footDiv1 span img {
  margin-right: 10px;
}
#wrap #foot .footContainer .footDiv2 {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#wrap #foot .footContainer .footDiv2 .footDivrm {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  width: 10%;
  text-align: center;
  margin-top: 10px;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In {
  height: 93px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In .footDiv2In1 {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In .footDiv2In1 span {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In .footDiv2In2 {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In .footDiv2In2 span {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In .footDiv2In3 {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap #foot .footContainer .footDiv2 .footDiv2In .footDiv2In3 span {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #foot .footContainer .footBottomp {
  width: 100%;
  color: #898989;
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-size: 14px;
}
